<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap in action</title>
</head>
<body>
     <footer>
         <div class="container">
             <p class="m-0 text-center text-white">@ 2018</p>
         </div>
     </footer>
     <script src="../../static/js/jquery.form.min.js"></script>
     <script src="../../static/js/tether.min.js"></script>
     <script src="../../static/js/nprogress.js"></script>
     <script src="../../static/js/thinker-md.vendor.min.js"></script>
     <script src="../../static/js/chosen.jquery.js"></script>
     <script src="../../static/js/jquery-3.3.1.min.js"></script>
     <script src="../../static/js/bootstrap.min.js"></script>
     <script src="../../static/js/toastr.min.js"></script>
     <script src="../../static/js/cropbox.js"></script>
     <script src="../../static/js/thymeleaf-bootstrap-paginator.js"></script>
     <script src="../../static/js/catalog-generator.js"></script>
</body>
</html>